@import '~antd/dist/antd.css';

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
  .product_image{
    height: 300px;
    width: 100%;
  }
  .search-bottom{
    margin-bottom: 5%;
    margin-top:3%
  }